<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.dao.CardMapper">
    <resultMap id="BaseResultMap" type="com.springmvc.pojo.Card">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="CardId" jdbcType="VARCHAR" property="cardid"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="Price" jdbcType="INTEGER" property="price"/>
        <result column="Img" jdbcType="VARCHAR" property="img"/>
        <result column="Timestrap" jdbcType="TIMESTAMP" property="timestrap"/>
        <result column="Type" jdbcType="INTEGER" property="type"/>
        <result column="Inventory" jdbcType="INTEGER" property="inventory"/>
        <result column="Soldnum" jdbcType="INTEGER" property="soldnum"/>
        <result column="CardState" jdbcType="INTEGER" property="cardstate"/>
        <result column="Remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="StartDate" jdbcType="TIMESTAMP" property="startdate"/>
        <result column="EndDate" jdbcType="TIMESTAMP" property="enddate"/>
        <result column="TimeRemarks" jdbcType="VARCHAR" property="timeremarks"/>
        <result column="Introduc" jdbcType="LONGVARCHAR" property="introduc"/>
    </resultMap>
    <sql id="Base_Column_List">
    Id, CardId, Name, Price, Img, Timestrap, Type, Inventory, Soldnum, CardState, Remarks,
    StartDate, EndDate, TimeRemarks,Introduc
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from card
        where Id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from card
    where Id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.springmvc.pojo.Card">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into card (CardId, Name, Price,
        Img, Timestrap, Type,
        Inventory, Soldnum, CardState,
        Remarks, StartDate, EndDate,
        TimeRemarks, Introduc)
        values (#{cardid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER},
        #{img,jdbcType=VARCHAR}, #{timestrap,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER},
        #{inventory,jdbcType=INTEGER}, #{soldnum,jdbcType=INTEGER}, #{cardstate,jdbcType=INTEGER},
        #{remarks,jdbcType=VARCHAR}, #{startdate,jdbcType=TIMESTAMP}, #{enddate,jdbcType=TIMESTAMP},
        #{timeremarks,jdbcType=VARCHAR}, #{introduc,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.springmvc.pojo.Card">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardid != null">
                CardId,
            </if>
            <if test="name != null">
                Name,
            </if>
            <if test="price != null">
                Price,
            </if>
            <if test="img != null">
                Img,
            </if>
            <if test="timestrap != null">
                Timestrap,
            </if>
            <if test="type != null">
                Type,
            </if>
            <if test="inventory != null">
                Inventory,
            </if>
            <if test="soldnum != null">
                Soldnum,
            </if>
            <if test="cardstate != null">
                CardState,
            </if>
            <if test="remarks != null">
                Remarks,
            </if>
            <if test="startdate != null">
                StartDate,
            </if>
            <if test="enddate != null">
                EndDate,
            </if>
            <if test="timeremarks != null">
                TimeRemarks,
            </if>
            <if test="introduc != null">
                Introduc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardid != null">
                #{cardid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="img != null">
                #{img,jdbcType=VARCHAR},
            </if>
            <if test="timestrap != null">
                #{timestrap,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="inventory != null">
                #{inventory,jdbcType=INTEGER},
            </if>
            <if test="soldnum != null">
                #{soldnum,jdbcType=INTEGER},
            </if>
            <if test="cardstate != null">
                #{cardstate,jdbcType=INTEGER},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="startdate != null">
                #{startdate,jdbcType=TIMESTAMP},
            </if>
            <if test="enddate != null">
                #{enddate,jdbcType=TIMESTAMP},
            </if>
            <if test="timeremarks != null">
                #{timeremarks,jdbcType=VARCHAR},
            </if>
            <if test="introduc != null">
                #{introduc,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.pojo.Card">
        update card
        <set>
            <if test="cardid != null">
                CardId = #{cardid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                Name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                Price = #{price,jdbcType=INTEGER},
            </if>
            <if test="img != null">
                Img = #{img,jdbcType=VARCHAR},
            </if>
            <if test="timestrap != null">
                Timestrap = #{timestrap,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null">
                Type = #{type,jdbcType=INTEGER},
            </if>
            <if test="inventory != null">
                Inventory = #{inventory,jdbcType=INTEGER},
            </if>
            <if test="soldnum != null">
                Soldnum = #{soldnum,jdbcType=INTEGER},
            </if>
            <if test="cardstate != null">
                CardState = #{cardstate,jdbcType=INTEGER},
            </if>
            <if test="remarks != null">
                Remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="startdate != null">
                StartDate = #{startdate,jdbcType=TIMESTAMP},
            </if>
            <if test="enddate != null">
                EndDate = #{enddate,jdbcType=TIMESTAMP},
            </if>
            <if test="timeremarks != null">
                TimeRemarks = #{timeremarks,jdbcType=VARCHAR},
            </if>
            <if test="introduc != null">
                Introduc = #{introduc,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where Id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.springmvc.pojo.Card">
    update card
    set CardId = #{cardid,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Price = #{price,jdbcType=INTEGER},
      Img = #{img,jdbcType=VARCHAR},
      Timestrap = #{timestrap,jdbcType=TIMESTAMP},
      Type = #{type,jdbcType=INTEGER},
      Inventory = #{inventory,jdbcType=INTEGER},
      Soldnum = #{soldnum,jdbcType=INTEGER},
      CardState = #{cardstate,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      StartDate = #{startdate,jdbcType=TIMESTAMP},
      EndDate = #{enddate,jdbcType=TIMESTAMP},
      TimeRemarks = #{timeremarks,jdbcType=VARCHAR},
      Introduc = #{introduc,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.springmvc.pojo.Card">
    update card
    set CardId = #{cardid,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Price = #{price,jdbcType=INTEGER},
      Img = #{img,jdbcType=VARCHAR},
      Timestrap = #{timestrap,jdbcType=TIMESTAMP},
      Type = #{type,jdbcType=INTEGER},
      Inventory = #{inventory,jdbcType=INTEGER},
      Soldnum = #{soldnum,jdbcType=INTEGER},
      CardState = #{cardstate,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      StartDate = #{startdate,jdbcType=TIMESTAMP},
      EndDate = #{enddate,jdbcType=TIMESTAMP},
      TimeRemarks = #{timeremarks,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectCarList" parameterType="com.springmvc.pojo.Card" resultMap="BaseResultMap">
        select
        Id, CardId, Name, Price,Type, Inventory,
        EndDate
        from card
        where  EndDate >= #{enddate,jdbcType=TIMESTAMP}
    </select>
    <select id="selectCarByCardId" parameterType="com.springmvc.pojo.Card" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from card
        where  CardId = #{cardid,jdbcType=VARCHAR}
    </select>
</mapper>