<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.springmvc.pojo.OrderDetail">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="OrderId" jdbcType="VARCHAR" property="orderid" />
    <result column="Adid" jdbcType="VARCHAR" property="adid" />
    <result column="CardId" jdbcType="VARCHAR" property="cardid" />
    <result column="Count" jdbcType="INTEGER" property="count" />
    <result column="Price" jdbcType="INTEGER" property="price" />
    <result column="TotlePrice" jdbcType="INTEGER" property="totleprice" />
    <result column="OrderState" jdbcType="INTEGER" property="orderstate" />
    <result column="Remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="usingTime" jdbcType="TIMESTAMP" property="usingtime" />
    <result column="overTime" jdbcType="TIMESTAMP" property="overtime" />
    <result column="CardName" jdbcType="VARCHAR" property="cardname" />
    <result column="CardType" jdbcType="INTEGER" property="cardtype" />
    <result column="WXCode" jdbcType="VARCHAR" property="wxcode" />
    <result column="DetailAddress" jdbcType="VARCHAR" property="detailaddress" />
    <result column="GoodsUsingTime" jdbcType="TIMESTAMP" property="goodsusingtime" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Phone" jdbcType="VARCHAR" property="phone" />
    <result column="GoodsRemark" jdbcType="VARCHAR" property="goodsremark" />
    <result column="OrderGroup" jdbcType="VARCHAR" property="ordergroup" />
  </resultMap>

  <resultMap id="BaseResultMap1" type="com.springmvc.dto.OrderDetailDto">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="OrderId" jdbcType="VARCHAR" property="orderid" />
    <result column="Adid" jdbcType="VARCHAR" property="adid" />
    <result column="CardId" jdbcType="VARCHAR" property="cardid" />
    <result column="Count" jdbcType="INTEGER" property="count" />
    <result column="Price" jdbcType="INTEGER" property="price" />
    <result column="TotlePrice" jdbcType="INTEGER" property="totleprice" />
    <result column="OrderState" jdbcType="INTEGER" property="orderstate" />
    <result column="Remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="usingTime" jdbcType="TIMESTAMP" property="usingtime" />
    <result column="overTime" jdbcType="TIMESTAMP" property="overtime" />
    <result column="CardName" jdbcType="VARCHAR" property="cardname" />
    <result column="CardType" jdbcType="INTEGER" property="cardtype" />
    <result column="WXCode" jdbcType="VARCHAR" property="wxcode" />
    <result column="DetailAddress" jdbcType="VARCHAR" property="detailaddress" />
    <result column="GoodsUsingTime" jdbcType="TIMESTAMP" property="goodsusingtime" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Phone" jdbcType="VARCHAR" property="phone" />
    <result column="GoodsRemark" jdbcType="VARCHAR" property="goodsremark" />
    <result column="OrderGroup" jdbcType="VARCHAR" property="ordergroup" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, OrderId, Adid, CardId, Count, Price, TotlePrice, OrderState, Remarks, CreateTime,
    usingTime, overTime, CardName, CardType,WXCode,DetailAddress,GoodsUsingTime,Name,Phone,GoodsRemark,OrderGroup
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orderdetail
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orderdetail
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springmvc.pojo.OrderDetail"  useGeneratedKeys="true" keyProperty="id">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into orderdetail (OrderId, Adid, CardId,
    Count, Price, TotlePrice,
    OrderState, Remarks, CreateTime,
    usingTime, overTime, CardName,
    CardType,WXCode,DetailAddress,GoodsUsingTime,Name,Phone,GoodsRemark,OrderGroup)
    values (#{orderid,jdbcType=VARCHAR}, #{adid,jdbcType=VARCHAR}, #{cardid,jdbcType=VARCHAR},
    #{count,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, #{totleprice,jdbcType=INTEGER},
    #{orderstate,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP},
    #{usingtime,jdbcType=TIMESTAMP}, #{overtime,jdbcType=TIMESTAMP}, #{cardname,jdbcType=VARCHAR},
    #{cardtype,jdbcType=INTEGER},#{wxcode,jdbcType=VARCHAR}, #{detailaddress,jdbcType=VARCHAR}, #{goodsusingtime,jdbcType=TIMESTAMP},
    #{name,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR}, #{goodsremark,jdbcType=VARCHAR}, #{ordergroup,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.springmvc.pojo.OrderDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into orderdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        OrderId,
      </if>
      <if test="adid != null">
        Adid,
      </if>
      <if test="cardid != null">
        CardId,
      </if>
      <if test="count != null">
        Count,
      </if>
      <if test="price != null">
        Price,
      </if>
      <if test="totleprice != null">
        TotlePrice,
      </if>
      <if test="orderstate != null">
        OrderState,
      </if>
      <if test="remarks != null">
        Remarks,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="usingtime != null">
        usingTime,
      </if>
      <if test="overtime != null">
        overTime,
      </if>
      <if test="cardname != null">
        CardName,
      </if>
      <if test="cardtype != null">
        CardType,
      </if>
      <if test="wxcode != null">
        WXCode,
      </if>
      <if test="detailaddress != null">
        DetailAddress,
      </if>
      <if test="goodsusingtime != null">
        GoodsUsingTime,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="phone != null">
        Phone,
      </if>
      <if test="goodsremark != null">
        GoodsRemark,
      </if>
      <if test="ordergroup != null">
        OrderGroup,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="adid != null">
        #{adid,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null">
        #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="totleprice != null">
        #{totleprice,jdbcType=INTEGER},
      </if>
      <if test="orderstate != null">
        #{orderstate,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usingtime != null">
        #{usingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="overtime != null">
        #{overtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardname != null">
        #{cardname,jdbcType=VARCHAR},
      </if>
      <if test="cardtype != null">
        #{cardtype,jdbcType=INTEGER},
      </if>
      <if test="wxcode != null">
        #{wxcode,jdbcType=VARCHAR},
      </if>
      <if test="detailaddress != null">
        #{detailaddress,jdbcType=VARCHAR},
      </if>
      <if test="goodsusingtime != null">
        #{goodsusingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="goodsremark != null">
        #{goodsremark,jdbcType=VARCHAR},
      </if>
      <if test="ordergroup != null">
        #{ordergroup,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.pojo.OrderDetail">
    update orderdetail
    <set>
      <if test="orderid != null">
        OrderId = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="adid != null">
        Adid = #{adid,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null">
        CardId = #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        Count = #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        Price = #{price,jdbcType=INTEGER},
      </if>
      <if test="totleprice != null">
        TotlePrice = #{totleprice,jdbcType=INTEGER},
      </if>
      <if test="orderstate != null">
        OrderState = #{orderstate,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usingtime != null">
        usingTime = #{usingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="overtime != null">
        overTime = #{overtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardname != null">
        CardName = #{cardname,jdbcType=VARCHAR},
      </if>
      <if test="cardtype != null">
        CardType = #{cardtype,jdbcType=INTEGER},
      </if>
      <if test="wxcode != null">
        WXCode= #{wxcode,jdbcType=VARCHAR},
      </if>
      <if test="detailaddress != null">
        DetailAddress= #{detailaddress,jdbcType=VARCHAR},
      </if>
      <if test="goodsusingtime != null">
        GoodsUsingTime= #{goodsusingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        Name= #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        Phone= #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ordergroup != null">
        OrderGroup= #{ordergroup,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springmvc.pojo.OrderDetail">
    update orderdetail
    set OrderId = #{orderid,jdbcType=VARCHAR},
      Adid = #{adid,jdbcType=VARCHAR},
      CardId = #{cardid,jdbcType=VARCHAR},
      Count = #{count,jdbcType=INTEGER},
      Price = #{price,jdbcType=INTEGER},
      TotlePrice = #{totleprice,jdbcType=INTEGER},
      OrderState = #{orderstate,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      usingTime = #{usingtime,jdbcType=TIMESTAMP},
      overTime = #{overtime,jdbcType=TIMESTAMP},
      CardName = #{cardname,jdbcType=VARCHAR},
      CardType = #{cardtype,jdbcType=INTEGER},
      WXCode= #{wxcode,jdbcType=VARCHAR},
      DetailAddress= #{detailaddress,jdbcType=VARCHAR},
      GoodsUsingTime= #{goodsusingtime,jdbcType=TIMESTAMP},
      Name= #{name,jdbcType=VARCHAR},
      Phone= #{phone,jdbcType=VARCHAR},
      GoodsRemark= #{goodsremark,jdbcType=VARCHAR},
      OrderGroup= #{ordergroup,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByAdid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orderdetail
    where Adid = #{adid,jdbcType=VARCHAR}
    order by CreateTime desc
  </select>

  <update id="updateOrderStatus" parameterType="com.springmvc.pojo.OrderDetail">
  update orderdetail
  <set>
    <if test="orderstate != null">
      OrderState = #{orderstate,jdbcType=INTEGER},
    </if>
    <if test="orderstate = 1">
      usingTime = #{usingtime,jdbcType=TIMESTAMP},
    </if>
  </set>
  where Id = #{id,jdbcType=INTEGER}
</update>
  <update id="updateOrderWXCode" parameterType="com.springmvc.pojo.OrderDetail">
    update orderdetail
    <set>
      <if test="wxcode != null">
       WXCode = #{wxcode,jdbcType=VARCHAR},
      </if>
    </set>
    where OrderId = #{orderid,jdbcType=VARCHAR}
  </update>

  <update id="UpdateOrderGoodsList"  parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update orderdetail
      <set>
        DetailAddress=#{item.detailaddress},
        GoodsUsingTime=#{item.goodsusingtime},
        Name=#{item.name},
        Phone=#{item.phone},
        GoodsRemark=#{item.goodsremark},
      </set>
      where WXCode = #{item.wxcode}
    </foreach>
  </update>

  <insert id="InsertOrderGoodsList" useGeneratedKeys="true" parameterType="java.util.List">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into orderdetail (OrderId, Adid, CardId,
    Count, Price, TotlePrice,
    OrderState, Remarks, CreateTime,
    usingTime, overTime, CardName,
    CardType,WXCode,DetailAddress,GoodsUsingTime,Name,Phone,GoodsRemark,OrderGroup)
    values
    <foreach collection="list" item="item" index="index" open="" close="" separator=",">
    (#{item.orderid}, #{item.adid}, #{item.cardid},
    #{item.count}, #{item.price}, #{item.totleprice},
    #{item.orderstate}, #{item.remarks}, #{item.createtime},
    #{item.usingtime}, #{item.overtime}, #{item.cardname},
    #{item.cardtype},#{item.wxcode}, #{item.detailaddress}, #{item.goodsusingtime},
    #{item.name},#{item.phone}, #{item.goodsremark},#{item.ordergroup})
    </foreach>
  </insert>

  <update id="UpdateOrderGoods" parameterType="com.springmvc.pojo.OrderDetail">
    update orderdetail
    <set>
      <if test="wxcode != null">
        DetailAddress= #{detailaddress,jdbcType=VARCHAR},
        OrderState = 3,
        GoodsUsingTime= #{goodsusingtime,jdbcType=TIMESTAMP},
        Name= #{name,jdbcType=VARCHAR},
        Phone= #{phone,jdbcType=VARCHAR},
        GoodsRemark= #{goodsremark,jdbcType=VARCHAR}
      </if>
    </set>
    where WXCode = #{wxcode,jdbcType=VARCHAR}
  </update>

  <select id="getOrderInfoByWxCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orderdetail
    where WXCode = #{wxcode,jdbcType=VARCHAR}
  </select>

  <select id="selectByIsUsed"  resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from orderdetail
    where OrderState=3
    order by GoodsUsingTime desc
  </select>

  <!--<update id="updateOrderWXCodeByorderId"  parameterType="java.util.List">-->
    <!--<foreach collection="list" item="item" index="index" open="" close="" separator=";">-->
      <!--update orderdetail-->
      <!--<set>-->
        <!--WXCode = #{item.wxcode}-->
      <!--</set>-->
      <!--where OrderId = #{item.orderid}-->
    <!--</foreach>-->
  <!--</update>-->

  <update id="updateOrderWXCodeByorderId"  parameterType="java.util.List">
    <foreach collection="list" item="item"  open="" close="" separator=";">
      update orderdetail
      <set>
        WXCode = #{item.wxcode}
      </set>
      where OrderId = #{item.orderid}
    </foreach>
  </update>

</mapper>